*{
    font-size: 2vw;
}
#container{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'entra entra entra entra'
                         'linea1 linea1 linea1 linea1'
                         'linea2 linea2 linea2 linea2'
                         'linea3 linea3 linea3 linea3'
                         'linea4 linea4 linea4 linea4';
    gap: 5px;

}
#linea1{
    grid-area: linea1;
}
#linea2{
    grid-area: linea2;
}
#linea3{
    grid-area: linea3;
}
#linea4{
    grid-area: linea4;
}

#entrada{
    grid-area: entrada;
    
}

#btn1{
    grid-area: btn1;
}
#btn2{

    grid-area: btn2;
}
#btn3{
    grid-area: btn3;
}
#btn4{
    grid-area: btn4;
}
#btn5{
    grid-area: btn5;
}
#btn6{
    grid-area: btn6;
}
#btn7{
    grid-area: btn7;
}
#btn8{
    grid-area: btn8;
}
#btn9{
    grid-area: btn9;
}
#btn0{
    grid-area: btn0;
}
#btni{
    grid-area: btni;
}
#btncl{
    grid-area: btncl;
}
#sum{
    grid-area: sum;
}
#res{
    grid-area: res;
}
#div{
    grid-area: div;
}