h1 {
    font-size: 40px;
    font-family: 'sans-serif';
}
h2{
    font-size: 40px;
    font-family: 'Courier New';
}
h3 {
    font-size: 40px;
    font-family: 'Lucida Sans';
}
h4{
    font-size: 40px;
}
h5{
    font-size: 40px;
}
h6{
    font-size: 40px;
}
.enc{
    font-family: fantasy;
    font-size: 25px;
    color: orangered;
}
.cont{
    color: whitesmoke;
    background-color: black;
    font-family: 'Times New Roman';
}