#int{
    width: 40%;
    border: black solid 10px;
    margin: 5px;
    padding: 20px;
    background-color: #66a9e9;
    display: inline-block;
}
#container{
    text-align: center; 
}
.headers{
    text-align: center;
    font-size: 2.5vw;
    border: white solid 3px;
}
p{
    border: solid rgba(6, 117, 148, 0.631) 2px;
    font-size: 1vw;
    padding: .1vw;
    margin: .1vw;
    display: inline-flex;
}
#p1{
    background-color: #4a9ae9 ;
    text-align: right;
    width: 27%;
  
}


#p2{
    background-color: #fa9aea ;
    text-align: justify;
    width: 37%;

}

#p3{
    background-color: #009aea ;
    text-align: left;
    width: 17%;

}
#img{
    width: 50%;
    text-align: center;
}